.btn-master, .btn-primary, .btn-secondary {
  padding: 15px 26px 15px 26px;
  border-radius: 10px;
  font-weight: 600;
  border: 0px;
}

.btn-primary {
  color: #ffff;
  background-color: #0c8d07;
  border: 0px;
}

.btn-secondary {
  color: #0c8d07;
  background-color: #f5ca09;
}

body {
  font-family: 'Rubik', sans-serif;
}

.navbar-tp {
  padding: 15px;
}

.navbar-tp .navbar-brand {
  color: #0c8d07;
  font-size: 24px;
  font-weight: bold;
}

.navbar-tp .navbar-brandspace {
  color: #f5ca09;
  font-size: 22px;
  font-weight: bold;
}

.navbar-tp .navbar-nav li {
  padding-left: 55px;
}

.navbar-tp .navbar-nav .active {
  color: #0c8d07 !important;
  font-size: 19px !important;
  font-weight: 500 !important;
}

.navbar-tp .navbar-nav .nav-link {
  color: #064603;
  font-size: 18px;
  font-weight: 400;
}

.copywriting {
  padding: 20px;
}

.header {
  font-weight: 600;
  color: #0c8d07;
  font-size: 46px;
  line-height: 60px;
}

.description {
  font-weight: 300;
  color: #064603;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.sales {
  margin-top: 80px;
}

.sales .heading-image {
  text-align: center;
}

.sales .heading-image .image-head {
  height: 300px;
  image-resolution: 300px;
}

.pricing {
  margin-top: 80px;
  background: #f8f188;
  padding: 70px 0 70px 0;
}

.pricing .master-card, .pricing .basic-card, .pricing .most-card {
  padding: 30px;
  border-radius: 22px;
}

.pricing .master-card .name, .pricing .basic-card .name, .pricing .most-card .name {
  font-size: 18px;
  font-weight: 500;
}

.pricing .master-card .price, .pricing .basic-card .price, .pricing .most-card .price {
  font-size: 40px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}

.pricing .master-card .support, .pricing .basic-card .support, .pricing .most-card .support {
  font-size: 16px;
  margin-bottom: 40px;
}

.pricing .master-card .item-benefit, .pricing .basic-card .item-benefit, .pricing .most-card .item-benefit {
  margin-bottom: 20px;
}

.pricing .master-card .item-benefit img, .pricing .basic-card .item-benefit img, .pricing .most-card .item-benefit img {
  float: left;
  margin-right: 8px;
}

.pricing .master-card .item-benefit p, .pricing .basic-card .item-benefit p, .pricing .most-card .item-benefit p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}

.pricing .master-card .btn, .pricing .basic-card .btn, .pricing .most-card .btn {
  margin-top: 20px;
  width: 100%;
}

.pricing .basic-card {
  background: #ffff;
}

.pricing .basic-card .name {
  color: #0c8d07;
}

.pricing .basic-card .price {
  color: #064603;
}

.pricing .basic-card .support {
  color: #0c8d07;
}

.pricing .basic-card .item-benefit p {
  color: #0c8d07;
}

.pricing .most-card {
  background: #0c8d07;
}

.pricing .most-card .btn-primary {
  background: #f5ca09 !important;
}

.pricing .most-card .name {
  color: #ffff;
}

.pricing .most-card .price {
  color: #f5ca09;
}

.pricing .most-card .support {
  color: #ffff;
}

.pricing .most-card .item-benefit p {
  color: #0c8d07;
}
/*# sourceMappingURL=main.css.map */